// jptraveler.css
// _defs : Color definitions

// Basic colors
$black: #000;
$font-black: #333;
$white: #fff;
$gray: #666;
$blue: #36f;
$red: #f33;
$green: #063;
$yellow: #ff3;

$basic: (
  black: $black,
  font-black: $font-black,
  gray: $gray,
  blue: $blue,
  red: $red,
  green: $green,
  yellow: $yellow,
);

// Traditional colors
$japan: (
  momo: #f09199,
  wakakusa: #c3d825,
);

// Subway line colors
$metro: (
  ginza: #ff9500,
  marunouchi: #f62e36,
  hibiya: #b5b5ac,
  hnd-tozai: #009bbf,
  chiyoda: #00bb85,
  yurakucho: #c1a470,
  hanzomon: #8f76d6,
  hnd-namboku: #00ac9b,
  fukutoshin: #9c5e31,
  asakusa: #e83e2f,
  mita: #006ab8,
  shinjuku: #b0bf1e,
  oedo: #ce045b,
  kuko: #ee5511,
  hakozaki: #0077cc,
  nanakuma: #00aa44,
);

// Railroad line colors
$train: (
);

// Airlines colors
$airline: (
);

// Default colors
$default: (
  index: $black,
  label: $blue,
  marker: $yellow,
  tag: $blue,
  nlist: $red,
)

// responsive
// $mobile-width: 767px;

// fonts
// $sans-serif: system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

// %sans-serif {
//   font-family: $sans-serif;
//   font-size: $em;
//   font-stretch: normal;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 1.65 * $em;
// }
