@import 'defs';

$index-list: (
  $japan,
  $metro,
);

@mixin index($color, $bg-color) {
  background: $bg-color;
  border-left: 1rem solid $color;
  padding-left: 0.5rem;
}

.jt-index {
  @each $genre in $index-list {
    @each $name, $colors in $genre {
      $color: nth($colors, 1);
      $bg-color: nth($colors, 2);
      &-#{$name} {
        @include index($color, $bg-color);
      }
    }
  }
}

@mixin index-bline($color) {
  border-bottom: 2px solid $color;
  border-left: 1rem solid $color;
  padding-left: 0.5rem;
}

.jt-index-bline {
  @each $genre in $index-list {
    @each $name, $colors in $genre {
      $color: nth($colors, 1);
      &-#{$name} {
        @include index-bline($color);
      }
    }
  }
}

@mixin index-bdot($color) {
  border-bottom: 2px dotted $color;
  border-left: 1rem solid $color;
  padding-left: 0.5rem;
}

.jt-index-bdot {
  @each $genre in $index-list {
    @each $name, $colors in $genre {
      $color: nth($colors, 1);
      &-#{$name} {
        @include index-bdot($color);
      }
    }
  }
}
