// jptraveler.css
// _index : HTML inline elements

@import 'defs';
@import 'func';

$color-list: (
  $basic,
  $japan,
  $metro,
);


@mixin bg-color($color) {
  background: $color;
}


.jt-label {
  background-color: map-get($default, 'label');
  color: $white;
  border-radius: 0.3em;
  padding: 0.2em;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  @each $genre in $color-list {
    @each $name, $color in $genre {
      &.#{$name} {
        background-color: $color;
        color: fontBlackOrWhite($color);
      }
    }
  }
}

.jt-marker {
  background-image: linear-gradient(transparent 40%, map-get($default, 'marker') 40%);

  @each $genre in $color-list {
    @each $name, $color in $genre {
      &.#{$name} {
        background-image: linear-gradient(transparent 40%, $color 40%);
      }
    }
  }
}

.jt-tag {
  position: relative;
  display: inline-block;
  height: 1.6em;
  line-height: 1.6em;
  padding: 0 0.5em 0 1em;
  margin: 0 0 0 0.8em;
  background-color: map-get($default, 'tag');
  border-radius: 0 3px 3px 0;
  color: $white;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:before {
    position: absolute;
    top: 0;
    left: -1em;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent map-get($default, 'tag') transparent transparent;
    border-style: solid;
    border-width: 0.8em 1em 0.8em 0;
  }
  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: '';
    width: 0.4em;
    height: 0.4em;
    margin-top: -0.2em;
    background-color: $white;
    border-radius: 100%;
  }

  @each $genre in $color-list {
    @each $name, $color in $genre {
      &.#{$name} {
        background-color: $color;
        color: fontBlackOrWhite($color);

        &:before {
          border-color: transparent $color transparent transparent;
        }
      }
    }
  }
}

.jt-nlist {
  > ol{
    counter-reset: list;
    list-style-type: none;
    padding: 0;

    > li {
      position:relative;
      padding: 0 0 0 2em;
      margin: 0.2em 0 0.2em 0px;
      font-weight: bold;
      font-size: 0.8em;
      line-height: 2em;
      border: dashed 0.1em transparent;

      &:before {
        counter-increment: list;
        content: counter(list);
        position: absolute;
        left: -0.5em;
        width: 2em;
        height: 2em;
        text-align: center;
        color: $white;
        line-height: 2.2em;
        background-color: map-get($default, 'nlist');
        border-radius: 50%;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  @each $genre in $color-list {
    @each $name, $color in $genre {
      &.#{$name} {
        > ol {
          > li {
            &:before {
              background-color: $color;
              color: fontBlackOrWhite($color);
            }
          }
        }
      }
    }
  }
}
